{% extends "layout.html" %}

{% block body %}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
            </ul>

            .text-end
            button(type="button").btn.btn-outline-light.me-2 Login
            button(type="button").btn.btn-warning Sign up
        </div>
    </div>
</header>

{% endblock %}