{% extends "layout.twig" %}

{% block body %}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign up</button>
            </div>
        </div>
    </div>
</header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form class="mt-5">
                        <div id="response">

                            <div class="mb-3">
                                <label for="username" class="form-label">Nom d'utilisateur</label>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="passwordConfirm" class="form-label">Confirmer le mot de passe</label>
                                <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control">
                            </div>

                            <a id="register" class="btn btn-primary">S'inscire</a>

                        </div>

                    </form>
                </div>

            </div>

        </div>

    </section>





{% endblock %}