{% extends '/layout.twig' %}

{% block title 'Accueil' %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <div class="forum-node">
                <div class="forum-panel">
                    <div class="forum-panel-heading">
                        <h4>
                            <a role="button" data-toggle="collapse" data-target="#forum-1" style="background-color: #da951b !important;">
                                <span>Alphasia</span>
                                <small>La vie du projet et les informations importantes</small>
                            </a>
                        </h4>
                    </div>
                    <div id="forum-1" class="panel-collapse show" role="tabpanel" aria-labelledby="forum-node-heading-one">
                        <div class="forum-node-lg">
                            <div class="forum-panel-body">
                                <div class="forum-node-box">
                                    <div class="forum-node-title">
                                        <div class="forum-node-icon">
                                            <i class="fas fa-comment-alt" style="transform: rotateY(180deg); color: #da951b"></i>
                                        </div>
                                        <div class="forum-node-name">
                                        <span class="forum-node-name-text">
                                            <a href="/forum/" style="color: #da951b">Recrutements</a>
                                        </span>
                                            <span class="forum-node-name-stats">
                                            <p class="me-3"><b>Discussions : </b>1 758</p>
                                            <p><b>Messages : </b>12 589</p>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="forum-node-infos">
                                    <span class="forum-node-infos-img">
                                        <a style="cursor: pointer">
                                            <img src="https://alphasia.net/api/user/getImage/18669522045b3163d3ab63f" width="48" height="48" alt="">
                                        </a>
                                    </span>
                                        <span class="forum-node-infos-latest">
                                        <span class="forum-node-infos-latest-name">
                                            Dernier :
                                            <a href="/forum/thread/">Gestion des candidatures</a>
                                        </span>
                                        <span class="forum-node-infos-latest-infos">
                                            <a style="cursor: pointer">wogel123</a>,
                                            <p id="date">il y a 2h</p>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                <div class="forum-node-sub">
                                    <a href="/forum/">Déposer une plainte</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}